header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #0011ff;
	text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

h1 {
    /* Estilos para a tag <h1> */
}

h1 img {
    /* Estilos para a tag <img> dentro de <h1> */
    /* Por exemplo, se quiser ajustar o tamanho da imagem: */
    width: 500px; /* Substitua 100px pelo tamanho desejado */
    height: auto; /* Mantém a proporção original */
    /* Outros estilos como margens, bordas, etc., podem ser adicionados aqui */
}

.produtos li:hover {
	border-color: #0408fd;
}

.produtos li:active {
	border-color: #09dbf7;	
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: url("1.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

/* Página de contato */
.contato {
	width: 940px;
	margin: 40px auto;
}

.contato label, .input-group legend {
	display: block;
	margin: 0 0 5px;
	font-size: 20px;
}

.campo-padrao, textarea {
	display: block;
	margin: 0 0 30px;
	padding: 10px 20px;
	width: 50%;
	border: 1px h1 {
		/* Estilos para a tag <h1> */
	}
	
	h1 img {
		/* Estilos para a tag <img> dentro de <h1> */
		/* Por exemplo, se quiser ajustar o tamanho da imagem: */
		width: 100px; /* Substitua 100px pelo tamanho desejado */
		height: auto; /* Mantém a proporção original */
		/* Outros estilos como margens, bordas, etc., podem ser adicionados aqui */
	}
	solid #aaa;
}

.input-group {
	margin: 0 0 20px;
}

.newsletter {
	margin: 0 0 20px;
}

.botao {
	margin: 20px 0 0;
	width: 30%;
	padding: 10px 20px;
	font-size: 24px;
	display: inline-block;
	background: orange;
	color: white;
	border: none;
	border-radius: 5px;
	transition: 1s;
}

.botao:hover {
	cursor: pointer;
	transform: scale(1.2);	
}

.funcionamento {
	width: 940px;
	margin: 0 auto 40px;
}

table {
	margin: 10px 0 0;
}

th  {
	background: #777777;
	color: #FFFFFF;
}

td, th {
	border: 1px solid #000000;
	padding: 5px 20px;
}

main{
	width: 940px;
	margin: 0 auto;
}

form{ 
	margin: 40px 0;
}

form label{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

form input{
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}
